<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="bd_nanahiConS" connectionString="Data Source=VLADIMIR;Initial Catalog=bd_nanahi;Persist Security Info=True;User ID=sa;Password=crislyn;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>